.App {
  text-align: center;
}

.inputContainer {
  border-radius: 2rem;
  height: 2.5rem;
  width: 30vw;
  font-size: 1rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.addButton {
  border-radius: 2rem;
  height: 2.5rem;
  width: 10vw;
  font-size: 0.8rem;
}
